body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 400px;
    margin: 100px auto;
    text-align: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(197, 164, 93, 0.1);
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

.open-google-button {
    background-color: #c64c91; /* Google pink color */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.open-google-button:hover {
    background-color: #35e84a; /* when hover over it shows green color */
}
